@model List<shampoo.Domain.Entity.CharacterScene>

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}
<style>
    .cont-cont{

    }
    .SceneContainer {
        padding: 5px 10px;
        width: auto;
        background-color: white;
        display:flex;
        margin-bottom: 5px;
        text-decoration:none;
    }
    p{
        margin-right: 3px;
        color: #3a4675d4;
    }
</style>
<h1>Сцены с персонажем</h1>
<div style="padding: 10px;"></div>
    <div class="cont-cont">
        @{
            int counter = 0;
        }
        @foreach (var scene in Model)
        {
        counter++;
        <a class="SceneContainer" asp-controller="CharacterScene" asp-action="GetCharacterScene" asp-route-id="@scene.id">
                <p>@scene.id| </p>
                <p>@scene.ShortScene()</p>
            </a>
        }
    </div>
