@model shampoo.Domain.ViewModels.CharacterSceneViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    var textTitle = Model?.id == 0 ? "Изменение данных" : "Добавление данных";

    
}

<div style="padding: 10px;"></div>
<div class="col-md-12">
    <div class="card-body">
        <div class="card card-outline-secondary" style="background-color: white">
            <div class="card-header">
                <h3 class="mb-0 text-center ParagraphHome">@textTitle</h3>
            </div>
            <div class="card-body">
                <form asp-action="Save" enctype="multipart/form-data">
                    <input asp-for="id" hidden />
                    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>

                    <div class="form-group" style="display:none;">
                        <label asp-for="character_id"></label>
                        <input asp-for="character_id" class="form-control" type="text" value="@Model.character_id">
                    </div>
                    <div class="form-group">
                        <label asp-for="scene">Сцена</label>
                        <textarea asp-for="scene" class="form-control" rows="20"></textarea>
                    </div>
                    <button class="btn btn-primary btn-lg float-right" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>