html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #3a4675d4;
}
h1 {
    color: white;
}
header {
    background-color: #3a4675d4;
    color: white;
}
.text-center{
}